/*
  *{
    border: 1px solid red;
  }
*/

#content{
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  float: none;
}

.arrowSmall{
  width: 30px;
}

#cardContainer {
  background-color: #ffffff;
  border: 1px solid gray;
  height: 160px;
  padding: 3px;
  margin: 10px;
}

.card {
  border: 2px solid black;
  background-color: white;
  cursor: move;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}


#algorithmnContainer{
  display: flex;
  flex-direction: row;
}

#algorithmnListContainer{
  text-align: center;
  display: flex;
  margin: 20px;
}

#slotNumberContainer{
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.slotNumber{  
  height: 60px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dropareaContainer{
  flex-grow: 1;
}

.droparea {
  background-color: rgb(85, 153, 255);
  opacity: 0.5;
  height: 60px;
  margin: 3px;
}

.dropareaActive{
  opacity: 1;
}


.conditionDroparea{
  background-color: rgb(139, 248, 182);
  margin-left: 50px;
}
.initDroparea{
  background-color: rgb(196, 196, 196);
}

#numberListContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberList {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-weight: 1000;
  background-color: rgb(247, 247, 247);
  width: 50px;
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#arrowsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.zeigerPosition{
  padding: 10px;
  margin: 20px;
}